%header {
	margin : -($vertical-spacing * 1.5) 0 $vertical-spacing;
	margin-top : -($vertical-spacing * 2);
	min-height : 300px; 
}

// hospitals

.header__hospital__orpington {
	@extend %header;
	background : transparent url(../assets/img/site/banner-hospital-large.jpg) no-repeat 50% 0;
	background-size : auto 300px; 
}


// specialties

.header__specialty__cancer {
	@extend %header;
	background : transparent url(../assets/img/site/banner-hospital-large.jpg) no-repeat 50% 0;
	background-size : auto 260px; 
}

// details

.header__details--01 {
	@extend %header;
	background : transparent url(../assets/img/site/banner-hospital-large.jpg) no-repeat 50% 0;
	background-size : auto 260px; 
}

.header__index {
	@extend %header;
	padding-top : 280px;
	background : transparent url(../assets/img/site/banner-home.jpg) no-repeat 50% 0;
	background-size : auto 270px;
	box-sizing : border-box;

	@include bp(bp6) {
		background-image : url(../assets/img/site/banner-home-large.jpg);
		background-size : auto 450px; 
	}

	.main {
		width : 100%;
		@include bp(bp6) {
			width : 74.1745%; 
		}
	}
}