.corporate {
padding : $vertical-spacing 0;
background-color : $base-bg;
border-top : $border;

.content {
@include bp(bp3) {
display : flex; }
}

.corporate__col {
@include bp(bp3) {
flex : 1;
margin-right : 3%;
}

&:last-of-type {
margin-right : 0; }
}

h5 { 
@include font-size($font-size-minus-one); }

ul + h5 {
margin-top : $vertical-spacing;
padding-top : $vertical-spacing / 1.5;
border-width : 1px 0 0 0;
border-image : url(../assets/img/site/divider-corporate.png) 2 0 0 0; }

ul {
list-style-type : none;
margin : 0 0 $vertical-spacing 0;
padding : 0; 

@include bp(bp3) {
margin : 0; }

}

li {
margin-bottom : .25rem;
@include font-size($font-size-minus-two); }

.complementary {

ul {
column-count : 1; 

&:last-of-type {
margin-bottom : 0; }

}
}

}