%header {
margin : -($vertical-spacing * 1.5) 0 $vertical-spacing;
margin-top : -($vertical-spacing * 2);
min-height : 300px; }

// hospitals

.header__hospital__orpington {
@extend %header;
background : transparent url(../assets/img/fpo/fpo-header-04.jpg) no-repeat 50% 0;
background-size : auto 300px; }




// specialties

.header__specialty__cancer {
@extend %header;
background : transparent url(../assets/img/fpo/fpo-header-02.jpg) no-repeat 50% 0;
background-size : auto 260px; }




// details

.header__details--01 {
@extend %header;
background : transparent url(../assets/img/fpo/fpo-header-03.jpg) no-repeat 50% 0;
background-size : auto 260px; }