#corporate {
padding : ($vertical-spacing * 2) 0 ($vertical-spacing);
background : $base-bg url(../assets/img/site/corporate.png) repeat-x 0 0;

.container {

@include bp(bp4) {
display : flex; }
}

.corporate__col {

@include bp(bp4) {
flex : 1;
margin-right : 3%; }

&:last-of-type {
margin-right : 0; }
}

h5 { 
@include font-size($font-size-minus-one); }

.corporate__section + .corporate__section {

@include bp(bp4){
margin-top : $vertical-spacing;
padding-top : $vertical-spacing / 1.5;
border-width : 1px 0 0 0;
border-image : url(../assets/img/site/divider-corporate.png) 2 0 0 0; }
}

ul {
list-style-type : none;
margin : 0 0 $vertical-spacing 0;
padding : 0; 

@include bp(bp4) {
margin : 0; }
}

li {
margin-bottom : .25rem;
@include font-size($font-size-minus-two); }

.complementary {

ul {
column-count : 1; 
&:last-of-type {
margin-bottom : 0; }
}
}
}

.mod-js #corporate {

@include bp(bp4){

.is-closed .accordion-body {

display : block; }	

.accordion-trigger{
cursor : auto; }
}
}