[role="banner"] {
background-color : #12617a;

.container {
display : flex;
padding : ($vertical-spacing * 2) 0 ($vertical-spacing / 2) 0;

@include bp(bp5) {
display : block; }
}

.main {
flex : 1; }

.complementary {
width : 18px; 

@include bp(bp3) {
width : 22.6979%; }
}

.form__search {
@include bp(bp3) {
border : 1px solid #1781a2;
border-radius : $border-radius; }

input {
display : none;
padding-top : 0;
padding-bottom : 0;
background-color : transparent;
border-width : 0;
color : $white; 

@include bp(bp3) {
display : inline-block; }
}

input {
&::-webkit-input-placeholder {

// Filthy hack
position : relative; 
top : 10px;
// End hack

color : $white; 
font-family : $input-font-family;
@include font-size($input-font-size); }

&:-moz-placeholder {
color : $white; 
font-family : $input-font-family;
@include font-size($input-font-size); }

&::-moz-placeholder {
color : $white;  }

&:-ms-input-placeholder {
color : $white; }
}

.btn {
display : inline-block;
margin-right : 11px;
padding : 2px 2px 0 0;
background-color : transparent; 
border-width : 0;

img {
width : 18px; }

}
}
}

.banner__logo {
padding-bottom : $vertical-spacing / 2;

img {
width : 400px; }
}




