// body 

.flex {
	display : flex;
	flex-direction : column;
	min-height : 100vh; 
}

.flex__container {
	flex : 1; 
}

// container__wrap

.container__wrap {
	background-color : $base-bg;
	border-top : ($border-width * 2) $border-style $border-color; 
}

// container

.container {
	margin : 0 $gutter / 2; 
	padding : ($vertical-spacing / 2) 0;
	@include clearfix();
	transition : margin $transition-duration $transition-timing-function;

	@include bp(bp2) {
		margin : 0 $gutter; 
	}

	@include bp(bp3) {
		margin : 0 $gutter * 2; 
	}

	@include bp(bp4) {
		margin : 0 $gutter * 3; 
	}

	@include bp(bp6) {
		margin : 0 auto;
		width : 80%;
		max-width : $max-width; 
	}
}

// content

.main {
	width : 100%; 

	@include bp(bp5) {
		float : left;
		margin-right : -100%;
		width : 74.1745%; 
	}

	.content {
		@include bp(bp5) {
			margin-left : 8.6745%; 
		}
	}
}


.complementary {
	@include bp(bp5) {
		float : left;
		margin-right : -100%;
		margin-left : 77.1745%;
		width : 22.6979%; 
	}
}