[role="navigation"] {
margin-bottom : ($vertical-spacing * 2);
padding-bottom : 17px;
background : $color-primary url(../assets/img/site/navigation.png) repeat-x 100% 100%;

.container {
padding : $vertical-spacing 0 ($vertical-spacing / 2.5); }

ul {
list-style-type : none; 
margin : 0;
padding : 0; 

li {
display : inline-block;
margin-right : ($gutter / 2); }
}




// navigation__item

.navigation__item {
position : relative; }

.navigation__link {
color : $white;

&:hover {
border-top : 1px solid rgba(255,255,255,.5);
color : rgba(255,255,255,.85); }

.active {
font-family : $bold-font-family; }
}


.has-sub {

.navigation__link:hover {
border-top-width : 0; }
}




.list--plain {

li { 
display : block;
margin-right : 0; 
padding : ($gutter / 4) 0; }
}


}




// navigation__box

.navigation__box {
display : none;
position : absolute;
top : 2em;
width : 640px;
padding : ($gutter / 2) ($gutter / 2) 0 ($gutter / 2);
background-color : #fff;
border : 5px solid #b9d9e3;
border-radius : $border-radius; 
box-sizing : border-box;
z-index: 200;

&.is-dropdown, &.is-modal{
.no-js & {
	display: block;
}
}
.cols {
margin-bottom : 0; }
}

.navigation__box:after, 
.navigation__box:before {
position : absolute;
bottom : 100%;
left : 4em;
width : 0;
height : 0;
border : solid transparent;
content : " ";
pointer-events : none; }

.navigation__box:after {
border-color : rgba(255, 255, 255, 0);
border-bottom-color : #fff;
border-width : 11px;
margin-left : -11px; }

.navigation__box:before {
border-color : rgba(185, 217, 227, 0);
border-bottom-color : #b9d9e3;
border-width : 18px;
margin-left : -18px; }

.navigation__box__item {
margin-bottom : $vertical-spacing / 2;
padding : ($vertical-spacing / 2) 0;
border-width : 0 0 2px 0;
border-image : url(../assets/img/site/divider-navigation.png) 0 0 2 0;

&:last-of-type {
margin-bottom : 0;
border-width : 0; }
}

.navigation__box__header {
margin-bottom : 0;
@include font-size($font-size-plus-one);

a {
color : $font-color; }
 }

.navigation__box__list {
margin-bottom : 0;

li {
@include font-size($font-size-minus-one); }
} 


.overlay{
position: fixed;
width: 100vw;
height: 100vh;
top:0;
left:0;
z-index:100;
opacity:0;
background: rgba(0, 25, 33, 0.8);
transition: opacity .4s;
visibility: hidden; 

&.is-shown {
visibility: visible;
opacity: 1; }
}