.cols {
	@include bp(bp4) {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
	}
	.col {
		margin-bottom: $vertical-spacing;
		@include bp(bp4) {
			flex: 1 0 0%;
			margin-right: 3.2849%;
			&:last-of-type{
				margin-right:0;
			}
		}
		@include bp(bp5) {
			margin-right: 4.5801%;
			&:last-of-type{
				margin-right:0;
			}
		}
	}

}
.cols--first {
	margin-bottom: 0;
}

.cols--four {
	.col {
		@include bp(bp4) {
			flex: 1 0 40%;
			&:nth-of-type(2n){
				margin-right:0;
			}
		}
		@include bp(bp5) {
			flex: 1 0 0%;
			&:nth-of-type(2n){
				margin-right:4.5801%;
			}
			&:last-of-type{
				margin-right:0;
			}
		}
	}
}
