.list--sub-nav {   
display : inline-block;
margin : 0 0 ($vertical-spacing) 0 ;
text-align : left;

@include bp(bp5) {
position : relative;
top : -($vertical-spacing);
margin-left : 6.541%; }

a {
position : relative;
display : inline-block;
background-color : $sub-nav-background;
border-left : 0;
border : $breadcrumb-border;
margin-bottom : 2px;
margin-right : -5px;
padding : ($vertical-spacing / 4) ($gutter);
color : $sub-nav-color;
@include font-size($font-size-minus-one);
line-height : $sub-nav-height;
text-decoration : none;

&:first-child {
border-top-left-radius: $border-radius;
border-bottom-left-radius: $border-radius;
border-left : $sub-nav-border; }

&:last-child {
border-top-right-radius : $border-radius;
border-bottom-right-radius : $border-radius; }

&:hover {
color : $link-color-hover;
background-color : $sub-nav-background-hover; }

&:focus {
background-color : $sub-nav-inactive-hover-color;
color: $sub-nav-color-hover; }
}
}