.tooltip {
	cursor: context-menu;
}

.tooltip__content {
display: none;
}

.qtip-nav{
padding : ($gutter / 2) ($gutter / 2) 0 ($gutter / 2);
background-color : #fff;
border : 5px solid #b9d9e3;
border-radius : $border-radius; 
box-sizing : border-box;
max-width: 640px;
}

.qtip-nav .qtip-titlebar{
background-color: #FFEF93;
}

.qtip-nav .qtip-icon{
border-color: #CCC;
background: #F1F1F1;
color: #777;
}

.qtip-nav .qtip-titlebar .qtip-close{
border-color: #AAA;
color: #111;
}


.tooltip__content--nav {
	.navigation__box__item {
		float: left;
		width: calc(50% - 11px);
		
		&:nth-child(2n) {
			margin-left: 22px;
		}
		
		&:nth-child(2n+1) {
			clear: left;
		}
	}
	
}