.box {
margin-bottom : $vertical-spacing;
padding : $box-padding;
background-color : $box-bg;
border : $box-border-width $box-border-style $box-border-color;
border-radius : $box-border-radius;
font-family : $box-font-family;

p {
font-size : $box-font-size;
color : $box-font-color;

&:last-child,
&:only-child {
margin-bottom : 0; }
}
}

.box--small {
padding : $box-small-padding; }

.box--large {
padding : $box-large-padding; }