a {
	text-decoration : none;
	color : $link-color;

	&:visited {
		color : $link-color-visited; 
	}

	&:hover {
		text-decoration : none;
		color : $link-color-hover; 
	}

	&:focus {
		outline : thin dotted;
		color : $link-color-focus; 
	}

	&:hover,
	&:active {
		outline : 0; 
	}

	&:link {
		transition : all $transition-duration $transition-timing-function; 
	}

	&.download:after {
		position : relative;
		top : -.5em;
		@include font-size($font-size-minus-two);
		line-height : 0;
		vertical-align : baselineheight; 
	}

	&.pdf:after{
		content : " (PDF)";
	}
	&.xls:after{
		content : " (XLS)";
	}
	&.pub:after{
		content : " (PUB)";
	}
	&.ppt:after{
		content : " (PPT)";
	}
	&.doc:after{
		content : " (DOC)";
	}

	&[href="javascript:void(0)"]:hover {
		text-decoration : line-through;
		text-decoration-style : wavy;
		text-decoration-color : $color-neutral; 
	}
}