img {
max-width : 100%;
border-width : 0;
vertical-align : middle;
-ms-interpolation-mode : bicubic; }

img[width],
img[height] {
max-width : none; }

.img--right {
float : right;
margin-bottom : $vertical-spacing / 4;
margin-left : $gutter / 2;
width : auto; }

.img--left {
float : left;
width : auto;
margin-right : $gutter / 2;
margin-bottom : $vertical-spacing / 4; }

.img--center {
display : block;
width : auto;

margin-right : auto;
margin-bottom : $vertical-spacing;
margin-left : auto; }

.img--right,
.img--left,
.img--center {
img {
width : auto; }
}

.img--circle {
border-radius : 50%; }



figure {
display : block;
margin : 0 0 $vertical-spacing 0;

img {
margin-bottom : $vertical-spacing; }
}

figcaption {
font-family : $figcaption-font-family;
font-size : $figcaption-font-size;
font-style : $figcaption-font-style;
font-weight : $figcaption-font-weight;
text-align : left;
text-transform : $figcaption-text-transform; }

.figure--full,
.main > figure {
margin : 0 0 $vertical-spacing * 2 0;

figcaption {
margin-left : 8.6745%;

@include bp(bp4) {
column-count : 2;
column-gap : $gutter; }
}
}
