/* Aktiv Grotesk bold */

@font-face {
font-family : 'aktiv_grotesk_trialbold';
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_bd-webfont.eot');
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_bd-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_bd-webfont.woff2') format('woff2'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_bd-webfont.woff') format('woff'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_bd-webfont.ttf') format('truetype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_bd-webfont.svg#aktiv_grotesk_trialbold') format('svg');
font-weight : normal;
font-style : normal; }

/* Aktiv Grotesk medium */

@font-face {
font-family : 'aktiv_grotesk_trialmedium';
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_md-webfont.eot');
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_md-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_md-webfont.woff2') format('woff2'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_md-webfont.woff') format('woff'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_md-webfont.ttf') format('truetype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_md-webfont.svg#aktiv_grotesk_trialmedium') format('svg');
font-weight : normal;
font-style : normal; }

@font-face {
font-family : 'aktiv_grotesk_trialMdIt';
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_mdit-webfont.eot');
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_mdit-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_mdit-webfont.woff2') format('woff2'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_mdit-webfont.woff') format('woff'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_mdit-webfont.ttf') format('truetype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_mdit-webfont.svg#aktiv_grotesk_trialMdIt') format('svg');
font-weight : normal;
font-style : normal; }

/* Aktiv Grotesk standard */

@font-face {
font-family : 'aktiv_grotesk_trialregular';
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_rg-webfont.eot');
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_rg-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_rg-webfont.woff2') format('woff2'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_rg-webfont.woff') format('woff'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_rg-webfont.ttf') format('truetype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_rg-webfont.svg#aktiv_grotesk_trialregular') format('svg');
font-weight : normal;
font-style : normal; }

@font-face {
font-family : 'aktiv_grotesk_trialitalic';
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_it-webfont.eot');
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_it-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_it-webfont.woff2') format('woff2'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_it-webfont.woff') format('woff'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_it-webfont.ttf') format('truetype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_it-webfont.svg#aktiv_grotesk_trialitalic') format('svg');
font-weight : normal;
font-style : normal; }

/* Aktiv Grotesk light */

@font-face {
font-family : 'aktiv_grotesk_triallight';
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_lt-webfont.eot');
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_lt-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_lt-webfont.woff2') format('woff2'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_lt-webfont.woff') format('woff'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_lt-webfont.ttf') format('truetype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_lt-webfont.svg#aktiv_grotesk_triallight') format('svg');
font-weight : normal;
font-style : normal; }

@font-face {
font-family : 'aktiv_grotesk_trialLtIt';
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_ltit-webfont.eot');
src: url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_ltit-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_ltit-webfont.woff2') format('woff2'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_ltit-webfont.woff') format('woff'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_ltit-webfont.ttf') format('truetype'),
url('../assets/fonts/aktiv-grotesk/aktivgrotesk_trial_ltit-webfont.svg#aktiv_grotesk_trialLtIt') format('svg');
font-weight : normal;
font-style : normal; }




/* Lexia bold */

@font-face {
font-family: 'lexiabold';
src: url('../assets/fonts/lexia/lexia_bold-webfont.eot');
src: url('../assets/fonts/lexia/lexia_bold-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/lexia/lexia_bold-webfont.woff2') format('woff2'),
url('../assets/fonts/lexia/lexia_bold-webfont.woff') format('woff'),
url('../assets/fonts/lexia/lexia_bold-webfont.ttf') format('truetype'),
url('../assets/fonts/lexia/lexia_bold-webfont.svg#lexiabold') format('svg');
font-weight : normal;
font-style : normal; }

/* Lexia standard */

@font-face {
font-family: 'lexiaregular';
src: url('../assets/fonts/lexia/lexia-webfont.eot');
src: url('../assets/fonts/lexia/lexia-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/lexia/lexia-webfont.woff2') format('woff2'),
url('../assets/fonts/lexia/lexia-webfont.woff') format('woff'),
url('../assets/fonts/lexia/lexia-webfont.ttf') format('truetype'),
url('../assets/fonts/lexia/lexia-webfont.svg#lexiaregular') format('svg');
font-weight : normal;
font-style : normal; }

/* Lexia thin */

@font-face {
font-family: 'lexiathin';
src: url('../assets/fonts/lexia/lexia_std_th-webfont.eot');
src: url('../assets/fonts/lexia/lexia_std_th-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/lexia/lexia_std_th-webfont.woff2') format('woff2'),
url('../assets/fonts/lexia/lexia_std_th-webfont.woff') format('woff'),
url('../assets/fonts/lexia/lexia_std_th-webfont.ttf') format('truetype'),
url('../assets/fonts/lexia/lexia_std_th-webfont.svg#lexiathin') format('svg');
font-weight : normal;
font-style : normal; }

/* Lexia light */

@font-face {
font-family: 'lexialight';
src: url('../assets/fonts/lexia/lexia_light-webfont.eot');
src: url('../assets/fonts/lexia/lexia_light-webfont.eot?#iefix') format('embedded-opentype'),
url('../assets/fonts/lexia/lexia_light-webfont.woff2') format('woff2'),
url('../assets/fonts/lexia/lexia_light-webfont.woff') format('woff'),
url('../assets/fonts/lexia/lexia_light-webfont.ttf') format('truetype'),
url('../assets/fonts/lexia/lexia_light-webfont.svg#lexialight') format('svg');
font-weight : normal;
font-style : normal; }





/* Frutiger bold */

@font-face {
font-family : 'FrutigerLTStd-BoldItalic';
src : url('../assets/fonts/frutiger/FrutigerLTStd-BoldItalic.eot?#iefix') format('embedded-opentype'),  
url('../assets/fonts/frutiger/FrutigerLTStd-BoldItalic.otf')  format('opentype'),
url('../assets/fonts/frutiger/FrutigerLTStd-BoldItalic.woff') format('woff'), 
url('../assets/fonts/frutiger/FrutigerLTStd-BoldItalic.ttf')  format('truetype'), 
url('../assets/fonts/frutiger/FrutigerLTStd-BoldItalic.svg#FrutigerLTStd-BoldItalic') format('svg');
font-weight : normal;
font-style : normal; }

/* Frutiger standard */

@font-face {
font-family : 'FrutigerLTStd-Roman';
src : url('../assets/fonts/frutiger/FrutigerLTStd-Roman.eot?#iefix') format('embedded-opentype'),  
url('../assets/fonts/frutiger/FrutigerLTStd-Roman.otf')  format('opentype'),
url('../assets/fonts/frutiger/FrutigerLTStd-Roman.woff') format('woff'), 
url('../assets/fonts/frutiger/FrutigerLTStd-Roman.ttf')  format('truetype'), 
url('../assets/fonts/frutiger/FrutigerLTStd-Roman.svg#FrutigerLTStd-Roman') format('svg');
font-weight : normal;
font-style : normal; }

@font-face {
font-family : 'FrutigerLTStd-Italic';
src : url('../assets/fonts/frutiger/FrutigerLTStd-Italic.eot?#iefix') format('embedded-opentype'),  
url('../assets/fonts/frutiger/FrutigerLTStd-Italic.otf')  format('opentype'),
url('../assets/fonts/frutiger/FrutigerLTStd-Italic.woff') format('woff'), 
url('../assets/fonts/frutiger/FrutigerLTStd-Italic.ttf')  format('truetype'), 
url('../assets/fonts/frutiger/FrutigerLTStd-Italic.svg#FrutigerLTStd-Italic') format('svg');
font-weight : normal;
font-style : normal; }

/* Frutiger light */

@font-face {
font-family : 'FrutigerLTStd-Light';
src : url('../assets/fonts/frutiger/FrutigerLTStd-Light.eot?#iefix') format('embedded-opentype'),  
url('../assets/fonts/frutiger/FrutigerLTStd-Light.otf')  format('opentype'),
url('../assets/fonts/frutiger/FrutigerLTStd-Light.woff') format('woff'), 
url('../assets/fonts/frutiger/FrutigerLTStd-Light.ttf')  format('truetype'), 
url('../assets/fonts/frutiger/FrutigerLTStd-Light.svg#FrutigerLTStd-Light') format('svg');
font-weight : normal;
font-style : normal; }

@font-face {
font-family : 'FrutigerLTStd-LightItalic';
src : url('../assets/fonts/frutiger/FrutigerLTStd-LightItalic.eot?#iefix') format('embedded-opentype'),  
url('../assets/fonts/frutiger/FrutigerLTStd-LightItalic.otf')  format('opentype'),
url('../assets/fonts/frutiger/FrutigerLTStd-LightItalic.woff') format('woff'), 
url('../assets/fonts/frutiger/FrutigerLTStd-LightItalic.ttf')  format('truetype'), 
url('../assets/fonts/frutiger/FrutigerLTStd-LightItalic.svg#FrutigerLTStd-LightItalic') format('svg');
font-weight : normal;
font-style : normal; }