::-moz-selection {
background-color : $base-bg;
text-shadow : none; }

::selection {
background-color : $base-bg;
text-shadow : none; }



// Misc

address {
margin-bottom : $vertical-spacing;
@include font-size($font-size);
line-height : $font-lineheight; }

abbr[title] {
border-bottom : 1px dotted $border-color;
@include font-size($font-size-minus-one);
font-variant : small-caps;
letter-spacing : 1px;
cursor : help; }

.amp {
font-family : $amp-font-family; }

dfn {
font-style : italic; }

ins {
background-color : $base-bg;
color : $font-color;
text-decoration : none; }

mark {
background-color : $base-bg;
color : $font-color;
font-style : italic;
font-weight : bold; }

small {
@include font-size($font-size-minus-one); }


// b, strong, i, em

b, strong {
font-family : $bold-font-family;
font-weight : normal; }


i, em {
font-family : 'Bliss2LtIt';
font-style : normal; }


// code 

code {
vertical-align : middle;
padding : .25em .5em;
background-color : $base-bg; }

pre {
white-space : pre;
white-space : pre-wrap;
word-wrap : break-word; }



// sub/sup 

sub,
sup {
position : relative;
@include font-size($font-size-minus-two);
line-height : 0;
vertical-align : baselineheight; }

sup {
top : -.5em; }

sub {
bottom : -.25em; }


// h-card

.h-card {
margin-bottom : 1.5rem; }

.h-card > div {
margin-bottom : .6rem;
@include font-size($font-size); }

.p-name {
@include font-size($font-size-plus-two);
@include bp(bp4) {
@include font-size($font-size-plus-three); }
}

.p-tel {
@include font-size($font-size-plus-two);
@include bp(bp4) {
@include font-size($font-size-plus-three); }
}

small {
@include font-size($font-size-minus-three);

@include bp(bp4) {
@include font-size($font-size-minus-two); }
}