blockquote {
margin : $vertical-spacing * 2 0 $vertical-spacing * 4;

p {
font-family : $quote-font-family;
font-weight : $quote-font-weight;
@include font-size($font-size-plus-one);
color : $alt-font-color; 

@include bp(bp4) {
@include font-size($font-size-plus-two); }
}

small {
font-family : $alt-font-family;
font-weight : $alt-font-weight;
@include font-size($font-size-minus-one);
letter-spacing : 1px;
text-transform : uppercase;

@include bp(bp3) {
padding-left : 8.6745%; }
}

cite {
display : flex;
font-style : normal;

.cite__photo {
margin-right : $gutter; }

.cite__job-title,
.cite__org {
letter-spacing : 0;
text-transform : none; }
}
}







// special

.quote--special {

p {
font-family : $quotespecial-font-family;
font-weight : $quotespecial-font-weight;
color : $font-color; 

@include bp(bp4) {
@include font-size($font-size-plus-four);
line-height : 1.3; }

@include bp(bp5) {
@include font-size($font-size-plus-five); }
}
}

